/*
    Document   : viasantina1/css/estilos．css
    Created on : 2014-12-18 02:43 AM
    Author     : sebabarr
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

article{
    background:pink;
}
body {
    background:#A60522;
    margin: 0 auto;
}
header {
    background:red;
}
header figure img {
    width:960px;
    height:300px;
    
}
footer {
    background:yellowgreen;
    overflow:hidden;
    margin-top:2px;
}
nav {
    background:gray;
    border-radius:5px;
    margin-bottom:2px;
    margin-top:2px;
    position:relative;
   
}
nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
}
nav ul li a
{
	color: white;
	display: block;
	padding: 0.5em;
	text-decoration: none;
}

.caja-footer {
    width:30%;
    float:left;
    background:pink;
    margin-right:2px;
}